.theming-option {
  padding: 0px 16px;
}

.global-custom-toolbar {
  background: none !important;
}

.brand-text {
  color: black;
  border: 1px solid black;
  padding: 4px 8px;
}

.user-auth-action-btn {
  color: black !important;
}

.menu-icon-btn {
  color: black !important;
}

.settings-menu {
  padding: 16px;
}