<mat-toolbar class="global-custom-toolbar" fxLayoutAlign="space-between center">
    <div>
      <span class="brand-text">Crafted Cabin</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button class="user-auth-action-btn" *ngIf="!(isAuthenticated$ | async)" mat-button (click)="userLogin()">Login</button>
      <button class="user-auth-action-btn" *ngIf="!(isAuthenticated$ | async)" mat-button (click)="userRegister()">Register</button>
      <button class="user-auth-action-btn" *ngIf="isAuthenticated$ | async" color="accent" mat-button (click)="logout()">Logout</button>
      <button class="menu-button-option" mat-icon-button><mat-icon>account_circle</mat-icon></button>
      <button class="menu-button-option" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon></button>
    </div>
  </mat-toolbar>
  
  <mat-menu #menu="matMenu">
    <mat-label>Select theme</mat-label>
    <mat-select (selectionChange)="updateTheme($event)">
      <mat-option *ngFor="let theme of themes" [value]="theme.name">
        <mat-icon mat-list-icon>{{theme.icon}}</mat-icon> {{theme.name | titlecase}}
      </mat-option>
    </mat-select>
  </mat-menu>