@use '@angular/material' as mat;
@include mat.core();

$even: rgb(255, 255, 255);
$odd: rgb(245, 245, 245);
$highlight: rgba(235, 235, 235, 0.733);


html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


// notification snackbar styling

.success-notification {
  background-color: rgb(43, 209, 43);
  color: white;
}

.error-notification {
  background-color: rgb(236, 88, 88);
  color: black;
}

.warning-notification {
  background-color: rgb(228, 228, 63);
}

.info-notification {
  background-color: rgb(62, 210, 247);
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

// $inside-primary: mat-palette($mat-light-blue);
// $inside-accent: mat-palette($mat-light-blue);
// $inside-warn: mat-palette($mat-red);
// $inside-theme-dark: mat-dark-theme($inside-primary, $inside-accent, $inside-warn);
// $inside-theme-light: mat-light-theme($inside-primary, $inside-accent, $inside-warn);

// Define a light theme
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
  )
);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

.color-scheme-dark {
  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
  @include mat.icon-color($dark-theme);
  @include mat.list-color($dark-theme);
  @include mat.sidenav-color($dark-theme);
  @include mat.toolbar-color($dark-theme);
  @include mat.card-color($dark-theme);
  // Example how you can easy add own custom styles
  .card-wrapper {
    color: #d0d0d0;
  }
}

.color-scheme-light {
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
  @include mat.icon-color($light-theme);
  @include mat.list-color($light-theme);
  @include mat.sidenav-color($light-theme);
  @include mat.toolbar-color($light-theme);
  @include mat.card-color($light-theme);
  // Example how you can easy add own custom styles
  .card-wrapper {
    color: #2d2d2d;
  }
}


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Styles applied to the root element if color="primary". */