<!-- <app-loading-bar *ngIf="loading$ | async"></app-loading-bar> -->
<div class="loading-section" *ngIf="loading$ | async">
  <mat-spinner [diameter]="40"></mat-spinner>
</div>

<div fxFlex class="custom-auth-dialog" fxLayout="column">
  <div class="custom-dialog-header" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <span class="dialog-title" mat-dialog-title>Hop Back on the Handcraft Hype!</span>
    <button mat-icon-button mat-dialog-close class="close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="custom-dialog-body">
    <mat-dialog-content>
      <form autocomplete="off" fxFlex fxLayoutGap="16px" fxLayout="column" [formGroup]="loginForm">
        <mat-form-field class="custom-input-field" color="primary" appearance="outline">
          <input required id="username" matInput formControlName="username" placeholder="username" autofocus>
        </mat-form-field>
        <mat-form-field class="custom-input-field" color="primary" appearance="outline">
          <input required id="password" matInput formControlName="password" [type]="hide ? 'text' : 'password' "
            placeholder="password">
          <mat-icon matSuffix (click)="hide = !hide">
            {{hide ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
      </form>
    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
      <button mat-raised-button (click)="close()">close</button>
      <button color="primary" mat-raised-button (click)="save()">Login</button>
    </mat-dialog-actions>
  </div>
</div>
