<div class="dashboard-panel-container" fxLayout="column">
    <div class="page-details-section" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div class="dashboard-header" fxFlex fxLayout="column">
            <span class="dashboard-title">Dashboard</span>
            <span class="dashboard-tagline">All Information about your store</span>
        </div>
        <div>
            <mat-icon class="notification-icon" matBadge="4" matBadgeOverlap="false">notifications</mat-icon>
        </div>
    </div>
</div>